
<!-- <nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
    <div class="container">
       
            <nav id="sidebar" class="container">
                <a href="index.html"><img class="main-logo" src="../../../assets/img/scrapi.png" alt="" /></a>
            </nav>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary" routerLink="login" *ngIf="!loggedIn">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" routerLink="profile" *ngIf="loggedIn" >profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-primary"  href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
              </li>

            </ul>
        </div>
    </div>
</nav> -->
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="../../../assets/img/scrapi.png" alt="" /></a>
        </div>
        
    </nav>
</div>

<div class="all-content-wrapper">
    
    <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                    
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="header-right-info">
                                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                           
                                           
                                            <li class="nav-item">
                                                <a class="nav-link text-primary" routerLink="login" *ngIf="!loggedIn">Login</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-primary" routerLink="profile" *ngIf="loggedIn" >profile</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link text-primary"  href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
                                          </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>

   <!-- <div class="left-sidebar-pro ">
    <nav id="sidebar" class="container">
        <a href="index.html"><img class="main-logo" src="../../../assets/img/scrapi.png" alt="" /></a>
    </nav>
</div> -->
<!-- Start Welcome area -->
<!-- <div class="all-content-wrapper">
    
    <div class="header-advance-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                    <div class="header-top-menu tabl-d-n hd-search-rp">
                                       
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="header-right-info ">
                                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                            <li class="nav-item">
                                                <a class="nav-link " routerLink="login" *ngIf="!loggedIn"> <span class="admin-name">Login</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link " routerLink="profile" *ngIf="loggedIn" > <span class="admin-name">profile</span></a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link"  href="#" (click)="logout($event)" *ngIf="loggedIn"> <span class="admin-name">Logout</span></a>
                                          </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
  