<!-- <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class=" navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="profile">Dashboard</a>
                   
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#"  aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard </a>
								
                            </li>
                           
                        </ul>
           
                </nav>
			</div>
        </div>
         -->