<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Reset Password</h3>
			</div>
			<div class="card-body">
				<form #RequestResetForm=ngForm (ngSubmit)="onSubmit()">


					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-at"></i></span>
						</div>
						<input type="text" class="form-control" name="email" placeholder="E-mail" [(ngModel)]='form.email' required>

					</div>

					<div class="form-group">
						<input type="submit" value="Reset Password" class="btn float-right login_btn" [disabled]="!RequestResetForm">
          </div>

				</form>
			</div>

		</div>
	</div>
</div>
